body{
    background-color: rgb(12, 60, 161);
}
.container{
    border: solid;
    border-radius: 5px;
    background-color: white;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 320px;
    margin-left: 320px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    
}
input{
    border-radius: 3px;
    width: 250px;
    height: 25px;
}
select{
    border-radius: 3px;
    width: 260px;
    height: 27px;
}
textarea{
    border-radius: 3px;
    width: 260px;
}
button{
    border-radius: 3px;
    width: 270px;
    height: 25px;
    background-color: rgb(12, 60, 161);
    color: white;
    
}